html,
body {
  height: 100%;
  margin: 0;
}
body,
input,
button {
  font-size: 14px;
  font-family: Roboto, arial, sans-serif;
  color: #222;
}
button {
  background-color: #f8f9fa;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
}
.navbar {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  display: inline;
  padding-right: 1rem;
  padding-left: 1rem;
}
img {
}
.middle {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  border: 2px solid #70757a;
  border-radius: 10px;
  width: 500px;
}
.inputbar {
  width: 100%;
  border: 0px;
}
.searchbarButtons {
  display: flex;
  flex: 1 1 auto;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  margin-top: 300px;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
}
.bottom-link-row {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  justify-content: space-evenly;
}
.bottom-link-row,
.bottom-link {
  color: #70757a;
  text-align: center;
}
