body,
input,
button {
  font-size: 14px;
  font-family: Roboto, arial, sans-serif;
  color: #222;
}
.navbar {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  display: inline;
  padding-right: 1rem;
  padding-left: 1rem;
}
img {
}
.middle {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
